@import 'variables';
@import 'mix-ins';
@import 'addRemoveAction';

@import '../library/library';
@import '../library/libraryCourse';
@import '../library/arrow';

@import '../schedule/schedule';
@import '../schedule/scheduleCourse';
@import '../schedule/progressTracker';
@import '../schedule/gradient';

.home {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: [library-s] 1fr 1fr [schedule-s] 50px [library-e] 1fr [schedule-e];
    grid-template-rows: 1fr;

    overflow: hidden;
}