$gradientColorStart: #6f48ce;
$gradientColorEnd: #32cbe8;

$colorBlue: #487bce;
$colorGrey: #4d4d4d;
$colorLightGrey: #e4e4e4; // formerly #f2f2f2
$colorSubtleGrey: rgba(255, 255, 255, 0.52);
$colorSubtleBlack: #333333;

$backgroundFadeColorOne: rgba(255, 255, 255, 0.3);
$backgroundFadeColorTwo: rgba(255, 255, 255, 0.1);
$backgroundFadeColorThree: rgba(0, 0, 0, 0.21);

$fontOne: 'Alegreya';
$fontTwo: 'Lato';
$fontThree: 'Montserrat';