.library-course {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);

    background: $gradientColorEnd;

    &--title-check {
        grid-row: 1/2;
        display: flex;
    }

    &--description {
        grid-row: 2/3;
    }

    &--arrow {
        grid-row: 1/2;
    }

    &--action {
        grid-row: 1/2;
    }
}